{% extends "layout.html" %}
{% block title %}Course{% endblock %}
{% block body %}

    <div style="margin-bottom: 20px;">
        <a href="{{ url_for('submit') }}">
            <button style="padding: 10px 20px; background-color: #28a745; color: white; border: none; border-radius: 5px; font-size: 16px; cursor: pointer; transition: background-color 0.3s ease;">
                Create Submission
            </button>
        </a>
    </div>

    <h2>Course: {{ course.title }}</h2>

    {% if profs %}
        <p> Professors:
        {% for professor in profs%}
            <p class="professor">{{ professor.name }}</p>
        {% endfor %}
        </p>
    {% else %}
        <p>No one teaches this course!</p>
    {% endif %}


    <div class="twitbox">
        <p>Average Difficulty: {{ diff }} Average Workload: {{ work }}</p>
    </div>

    <ul>
        {% for rating in ratings %}
            <h4>Workload:{{ rating.workload }} Difficulty:{{ rating.difficulty }}</h4>        
            <p>{{ rating.description }}</p>
        {% endfor %}
    </ul>   
    
{% endblock %}

